@model DigWalProj.Models.Advertisement

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Advertisement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.projectId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.projectId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.adName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.adName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.adDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.adDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.adId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
