@model IEnumerable<DigWalProj.Models.Advertisement>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.projectId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.adName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.adDescription)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.projectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.adId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.adId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.adId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
